.highlight .hll { background-color: #515151 }
.highlight pre { background: #2d2d2d; color: #cccccc; }
.highlight .c { color: #999999 } /* Comment */
.highlight .k { color: #cc99cc } /* Keyword */
.highlight .cm { color: #999999 } /* Comment.Multiline */
.highlight .cp { color: #999999 } /* Comment.Preproc */
.highlight .c1 { color: #999999 } /* Comment.Single */
.highlight .cs { color: #999999 } /* Comment.Special */
.highlight .gd { color: #f2777a } /* Generic.Deleted */
.highlight .gh { color: #cccccc; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #99cc99 } /* Generic.Inserted */
.highlight .gp { color: #999999; font-weight: bold } /* Generic.Prompt */
.highlight .gu { color: #66cccc; font-weight: bold } /* Generic.Subheading */
.highlight .kc { color: #cc99cc } /* Keyword.Constant */
.highlight .kd { color: #cc99cc } /* Keyword.Declaration */
.highlight .kn { color: #cc99cc } /* Keyword.Namespace */
.highlight .kp { color: #cc99cc } /* Keyword.Pseudo */
.highlight .kr { color: #cc99cc } /* Keyword.Reserved */
.highlight .kt { color: #ffcc66 } /* Keyword.Type */
.highlight .s { color: #99cc99 } /* Literal.String */
.highlight .nb { color: #f2777a } /* Name.Builtin */
.highlight .nc { color: #ffcc66 } /* Name.Class */
.highlight .no { color: #99cc99 } /* Name.Constant */
.highlight .nd { color: #66cccc } /* Name.Decorator */
.highlight .ne { color: #f2777a } /* Name.Exception */
.highlight .nf { color: #6699cc } /* Name.Function */
.highlight .nn { color: #ffcc66 } /* Name.Namespace */
.highlight .nt { color: #6699cc } /* Name.Tag */
.highlight .w { color: #cccccc } /* Text.Whitespace */
.highlight .sb { color: #99cc99 } /* Literal.String.Backtick */
.highlight .sc { color: #cccccc } /* Literal.String.Char */
.highlight .sd { color: #99cc99 } /* Literal.String.Doc */
.highlight .s2 { color: #99cc99 } /* Literal.String.Double */
.highlight .se { color: #99cc99 } /* Literal.String.Escape */
.highlight .sh { color: #99cc99 } /* Literal.String.Heredoc */
.highlight .si { color: #99cc99 } /* Literal.String.Interpol */
.highlight .sx { color: #99cc99 } /* Literal.String.Other */
.highlight .sr { color: #99cc99 } /* Literal.String.Regex */
.highlight .s1 { color: #99cc99 } /* Literal.String.Single */
.highlight .ss { color: #99cc99 } /* Literal.String.Symbol */
.highlight .bp { color: #f2777a } /* Name.Builtin.Pseudo */
.highlight .vi { color: #f2777a } /* Name.Variable.Instance */
