body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

/* tabs */

.nav-tabs li a {
	background-repeat: no-repeat;
	background-position: center;
}

.nav-tabs li .clojure {
	background-image: url(../images/languages/clojure.png);
	width: 24px;
}

.nav-tabs li .cplusplus {
	background-image: url(../images/languages/cplusplus.png);
	width: 24px;
}

.nav-tabs li .csharp {
	background-image: url(../images/languages/csharp.png);
	width: 38px;
}

.nav-tabs li .fsharp {
	background-image: url(../images/languages/fsharp.png);
	width: 24px;
}

.nav-tabs li .groovy {
	background-image: url(../images/languages/groovy.png);
	width: 48px;
}

.nav-tabs li .ioke {
	background-image: url(../images/languages/ioke.png);
	width: 24px;
}

.nav-tabs li .java {
	background-image: url(../images/languages/java.png);
	width: 40px;
}

.nav-tabs li .js {
	background-image: url(../images/languages/js.png);
	width: 24px;
}

.nav-tabs li .lua {
	background-image: url(../images/languages/lua.png);
	width: 24px;
}

.nav-tabs li .python {
	background-image: url(../images/languages/python.png);
	width: 81px;
}

.nav-tabs li .ruby {
	background-image: url(../images/languages/ruby.png);
	width: 24px;
}

.nav-tabs li .scala {
	background-image: url(../images/languages/scala.png);
	width: 85px;
}

.nav-tabs li .spring {
	background-image: url(../images/languages/spring.png);
	width: 81px;
}

.nav-tabs li .rails {
	background-image: url(../images/languages/rails.png);
	width: 85px;
}
