<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Cucumber : Executable Specifications" />

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/shjs.css">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/sticky-navigation.css">

    <title>{{ page.title }}</title>

    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">
    
    <script src="javascripts/jquery-1.8.1.min.js"></script>
    <script src="javascripts/sticky-navigation.js"></script>
    <script src="javascripts/shjs.js"></script>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/cucumber">View on GitHub</a>

          <h1 id="project_title">Cucumber</h1>
          <h2 id="project_tagline">Executable Specifications</h2>

        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <div id="sticky_navigation_wrapper">
          <div id="sticky_navigation">
              <div class="demo_container">
                  <ul>
                      <li><a href="index.html"{% if page.title == 'Cucumber' %} class="selected"{% endif %}>Home</a></li>
                      <li><a href="install.html"{% if page.title == 'Install' %} class="selected"{% endif %}>Install</a></li>
                      <li><a href="tutorials.html"{% if page.title == 'Tutorials' %} class="selected"{% endif %}>Tutorials</a></li>
                      <li><a href="documentation.html"{% if page.title == 'Documentation' %} class="selected"{% endif %}>Documentation</a></li>
                      <li><a href="community.html"{% if page.title == 'Community' %} class="selected"{% endif %}>Community</a></li>
                  </ul>
              </div>
          </div>
      </div>

      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

          <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-6729167-1");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>

          <script>sh_highlightDocument();</script>

  </body>
</html>
